# XRM driver and i2c stuff
CONFIG_SERIAL_XR20M117X=y
CONFIG_SERIAL_XR20M117X_CORE=y
CONFIG_SERIAL_XR20M117X_I2C=y
CONFIG_REGMAP_I2C=y

# Docker stuff
CONFIG_OVERLAY_FS=y
CONFIG_OVERLAY_FS_METACOPY=y
CONFIG_NAMESPACES=y
CONFIG_NET_NS=y
CONFIG_PID_NS=y
CONFIG_IPC_NS=y
CONFIG_UTS_NS=y
CONFIG_CGROUPS=y
CONFIG_CGROUP_CPUACCT=y
CONFIG_CGROUP_DEVICE=y
CONFIG_CGROUP_FREEZER=y
CONFIG_CGROUP_SCHED=y
CONFIG_CPUSETS=y
CONFIG_MEMCG=y
CONFIG_KEYS=y
CONFIG_VETH=y
CONFIG_NF_TABLES=y
CONFIG_NFT_FIB_IPV4=y
CONFIG_NFT_FIB=y

# Tailscale
CONFIG_TUN=y
